
html
head
	title User inputs
	link rel="stylesheet" href="style.css"
body
	h1 User input forms
	form (action="SEND CONTENTS HERE" method="post")
		p Likes
		p: textarea (type="text" name="likes" value="likes")
		p Allergies or dietary requirements
		p: textarea (type="text" name="allergies" value="allergies")
		p Hates
		p: textarea (type="text" name="hates" value="hates")
		p input type="submit"