extends layout

block content
    div(class="wrapper")
        h1 #{name}
        div(class="memberList")
            for member in members
                li= member
            else
                li There are no members yet!
