
extends layout

block content

    h1 Login

    form(action="SEND CONTENTS HERE" method="post")
    
        label(for="username" Username:)
        input(type="text" name="username")

        label(for="password" Password:)
        input(type="text" name="password")

    script(src="addin.js" type='text/javascript')
