
extends layout

block content
    link(rel='stylesheet', href='/stylesheets/users.css')
    
    div(class="wrapper")
        h1 Make an account

        form(class="userCreateForm" action="/user/create" method="post")
            
            label(for="email") Email
            input(type="text" name="email" required)
            
            label(for="password") Password
            input(type="password", name="password" required)
            
            label(for="firstName") First Name
            input(type="text", name="firstName" required)
            
            label(for="lastName") Last Name
            input(type="text", name="lastName" required)
            
            label(for="likes") What things do you like?
            div(class="buttonWithInputs")
                div(id="dynin" class="listInputs")
                    input(type="text" name="likes")
                input(id="textButton" class="addTextButton" type="button" value="+")

            label(for="allergies") Do you have any allergies or dietary requirements?
            div(class="buttonWithInputs")
                div(id="dynin2" class="listInputs")
                    input(type="text" name="allergies")
                input(id="textButton2" class="addTextButton" type="button" value="+")
                
            label(for="hates") What things do you hate?
            div(class="buttonWithInputs")
                div(id="dynin3" class="listInputs")
                    input(type="text" name="hates")
                input(id="textButton3" type="button" class="addTextButton" value="+")

            h2(Address)
            label(for="address1") House number
            input(type="text" name="address1")
            label(for="address2") Street name
            input(type="text" name="address2")
            label(for="address3") Town/city 
            input(type="text" name="address3")
            label(for="address4") Postcode
            input(type="text" name="address4")
            label(for="address5") Country 
            input(type="text" name="address5")

            input(type="submit")

    script(src="/js/addin.js" type='text/javascript')
