html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #00B7FF;
}
